
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');
*{
    margin: 0;

}
body{
    font-family: "Manrope";
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    gap: 14rem;
    padding-bottom: 5rem;
  
}
#login1{
    width: 22rem;
}
#login-title{
    text-align: center;
}
.picture{
    margin: auto 0;
}
input.inp{
    width: 430px;
    padding: 1rem;
    margin-bottom: 0.7rem;
    border-radius: 0.4rem;
    border: solid 1px grey;
}
.inp:hover{
    border: solid 1px grey;
}
.inp:active{
    border: solid 2px grey;
}
.saved{
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}
a{
    text-decoration: none;
    color: black;
    font-size: small;
}
a:hover{
   color:#080FC9 ; 
}
label{
    font-size: small;
}
#btn{
    width: 440px;
    background-color:#080FC9;
    border: solid 1px#080FC9;
    border-radius: 0.4rem;
    padding: 16px 32px;
    margin-top: 2rem;
    color: white;
    font-weight: 200px; 
}

#btn:hover{
    background-color: #2068BD;
}

.or-style{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.line{
    background-color: gray;
    height: 1px;
    width: 190px;
    margin-top: 0.7rem;
}


#login1{
    font-weight: 600;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}
#login2{
    text-align: center;
    font-weight: 600;
    margin-top: 0.8rem;
}
.btns{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.site{
    margin: 0.4rem auto;
    width: 440px;
    padding: 0.7rem;
    background-color: white;
    border-radius: 0.4rem;
    border: solid 1px grey;
}
p{
    font-size: small;
}


@media only screen and (max-width: 1000px) {
    .container{
        display: block;
        /* grid-template-columns: 1fr; */
        align-items: center;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4rem;
        margin-top: 1rem;
    }
    .form{
        width: 70vw;
        display: block;
        align-content: center;
        margin: 2rem auto;
    }
    input.inp {
        width: 65vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    button.site {
        width: 70vw;
    }
    button#btn{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    .line{
        width: 20vw;
    }
    .or-style{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        gap: 2rem;
    }
    #img{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .picture{
        margin-left: auto;
        margin-right: auto;
    }
    #menu {
        display: flex;
    }
    #home{
        display: none;
    }
    
      
    }
   
    

@media only screen and (max-width: 600px) {
    button#btn {
        width: 75vw;
    }
   
    .home{
        display: flex;
        justify-content: center;

        gap: 12vw;
    }
}
@media only screen  and (max-width:450px){
   
    input.inp {
        width: 64vw;
        margin-left: auto;
        margin-right: auto;
    }
    .form{
        width: 75vw;
        display: block;
        align-content: center;
        margin: 2rem auto;
    }
    p#login1{
        width: 10rem;
    }
    button#btn{
        width: 74vw;
    }
    
    #others{
        
        gap: 17vw;
    }
    #others{
        padding-left: 0;
    }
    #others ul{
        display: flex;
        justify-content: start;
        gap: 0.04rem;
        margin-left: 0;
    }
    #others ul li{
        margin-left: 0;
    }
    .list{
        padding-left: 0;
        display: flex;
        justify-content: center;
        gap: 0.1vw;
        margin-top: 4rem;
        margin-left: 0;
    }
}

