{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'landing\css\base.css' %}">
    <script defer src="{% static 'landing\javascript\splita_js.js' %}"></script>
    <title>{% block title %}base{% endblock %}</title>
</head>
<body>
    <header>
        <!--Mobile menu icon with js-->
        <span id="menu_icon" onclick="menudrop()"><img src="{% static 'landing\images\menu-icon.svg' %}" alt=""></span>
        <!--Menu section-->
        <div id="menu" class="menu-bar_link hdw-7 hdw-td-12">
            <div class="hdw-12 hdw-td-3">
                <span id="clozbtn">
                    <button id="cloz" onclick="menudrop()"><img src="{% static 'landing\images\close2.png' %}" alt="close" style="width: 0.8rem; height:0.8rem;"></button>
                </span>
                <a href="{% url 'landing' %}"><img src="{% static 'landing\images\splita_logo.svg' %}" alt="splita_logo"></a>
            </div>

            <div id="main-menu" class="hdw-12 hdw-td-5 td-menu-bar_link">
                <a href="{% url 'landing' %}">Home</a>
                <a href="">About</a>
                <a href="">Contact Us</a>
            </div>

            <div class="hdw-12 hdw-td-4 td-menu-bar_link">
                <a href="{% url 'login' %}" style="color:blue">Log In</a>
                <a href="{% url 'signup' %}"><button class="navi-btn">SIGN UP</button></a>
            </div>
        </div>
    </header>

        {% block content %}

         {% endblock %}

    <footer>
        <div class="row">
            <div class="futa-12">
                <img src="{% static 'landing\images\splita_logof.svg' %}" alt="signup_img">
            </div>

            <form class="nosubmit futa-12 futa-td-12">
                <input class="nosubmit futa-td-7" type="search" placeholder="Search">
            </form>
        </div>
        <div class="row">
            <span class="futa-4 menu-bar_link2 futa-td-3">
                <a href="">Products</a>
                <a href="">Documentation</a>
                <a href="">Data Community</a>
                <a href="">Video demos</a>
            </span>

            <span class="futa-4 menu-bar_link2 futa-td-3">
                <a href="">Services</a>
                <a href="">Legal Notice</a>
                <a href="">Careers</a>
                <a href="">Partners</a>
            </span>

            <span class="futa-4 menu-bar_link2 futa-td-3">
                <a href="">About</a>
                <a href="">Contact Us</a>
                <a href="">Support</a>
                <a href="">FAQs</a>
            </span>

            <span class="futa-12 futa-td-3" style="font-size:14px;">
                Address<br/>
                Lagos, Nigeria<br/>
                Phone: +234 903 426 3462<br/>
                Email: info@splita.com
            </span>
        </div>
    </footer>
    <div class="row last-span" style="font-size:13px;">
            <span class="futa-8 futa-td-8">
                <a class="" href="">Privacy</a>
                <a class="" href="">Security</a>
                <a class="" href="">Terms of use</a>
            </span>
            <span class="futa-4 futa-td-4" id="center-txt">2022 Splita, INC</span>
    </div>

</body>
</html>