{% extends 'landing/base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" href="{% static 'landing/css/user-styl2.css' %}">
</head>

<main>
        <div class="row">
            <div class="col-12 col-td-6 first_word">
                <h3 class="">Chunk your large files</h3>
                <p class="landing_first">
                    Manage your large JSON or CSV files, chunk them into smaller bits and save them for future use.
                </p>
                <span class="landing_first">
                <button type="button" class="nav-btn">GET STARTED</button>
                </span>
            </div>

            <div class="col-12 col-td-6 box-img">
                <img src="images/box-img.svg" alt="box-img" class="steps_img">
            </div>
        </div>

        <h2 class="works center-txt">How it works</h2>

        <div class="row">
            <div class="col-5 col-td-6 landing_first"><img src="images/landing_step1.svg" alt="" class="steps_img"></div>
            <div class="col-7 small-txt col-td-6 grow_word">
                <b>Step 1</b><br>
                Sign up and create an account if you have not registered.<br>
                Log in if you have an existing account
            </div>
        </div>

        <div class="row">
            <div class="col-7 small-txt col-td-6 grow_word">
                <b>Step 2</b><br>
                Upload your file in the Dashboard section and set your chunk size
            </div>
            <div class="col-5 col-td-6 landing_first">
                <img src="images/landing_step2.svg" alt="" class="steps_img">
            </div>
        </div>

        <div class="row">
            <div class="col-5 col-td-6 landing_first">
                <img src="images/landing_step3.svg" alt="" class="steps_img">
            </div>
            <div class="col-7 small-txt col-td-6 grow_word">
                <b>Step 3</b><br>
                Watch your file being chunked in no time
            </div>
        </div>

        <div class="row">
            <span class="col-7 small-txt col-td-6 col-12 grow_word">
                <b>Step 4</b><br>
                Download your file for use and also have the option of saving your file on our platform
            </span>
            <span class="col-5 col-td-6 landing_first">
                <img src="images/landing_step4.svg" alt="" class="steps_img">
            </span>
        </div>

        <div class="row">
            <h5 class="center-txt">Trusted by renowned companies</h5>
            <span class="col-12" id="collab_logo">
                <img src="images/apple-logo.svg" alt="">
                <img src="images/meta.svg" alt="">
                <img src="images/microsoft.svg" alt="">
                <img src="images/github.svg" alt="">
                <img src="images/amazon.svg" alt="">
            </span>
        </div>

        <div class="works row">
            <h4 class="center-txt">TESTIMONIALS</h4>
            <span class="col-12">
                Over the past few years, we have gathered over 100,000 users and managed beyond 3 tetrabytes of files
            </span>
        </div>

        <div class="row">
            <div class="dev_bloc">
                <div class="col-9 boxed col-td-4">
                    <p>
                        "This is the best site I have come across for chunking. ait literally saves time and space"<br/>
                        <img src="images/person_icon.svg" alt="">Nwokoye Praise<br>Developer
                    </p>
                </div>

                <div class="boxed col-9 col-td-4">
                    <p>
                        "So easy to use and you can access your files whenever"<br/>
                        <img src="images/person_icon.svg" alt="">Nkwocha Sixtus<br>Developer
                    </p>
                </div>

                <div class="col-9 boxed col-td-4">
                    <p>
                        "It really helps to save a lot of space and breakdown my large files so easily"<br/>
                        <img src="images/person_icon.svg" alt="">Eke Kalu<br>
                        Developer
                    </p>
                </div>
            </div>
            <p class="landing_first">
                <button type="button" class="nav-btn">READ MORE</button>
            </p>
        </div>
    </main>

{% endblock %}