{% extends 'landing/base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
        
        <div class="picture"><img src="{% static 'landing/images/forgot-password.svg' %}" alt="login" id="img"></div>
        <div class="form">

            <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
            <hr>
            <p style="text-align: center;">Please enter your new password.</p>
            <form method="POST">
                {% csrf_token %}
                {{ password_reset_form|crispy }}
        
                            
                <div class="btnz" style="display: flex; justify-content:center; margin-top:2rem;"><button type="submit" style="background-color: blue; margin-bottom: 4rem; align-self: center; border-radius: 0.4rem; border: none; padding: 1rem; color: white;">Reset password</button></div>
            </form>
        </div>
        </div>

{% endblock %}