{% extends 'landing/base.html' %}
{% load static %}

{% block title %}signup{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" href="{% static 'landing/css/user-styl2.css' %}">
</head>
        <section class="row" id="signup_pg_main">
            <div class="col-7">
                <img  class="center_item" id="signup_img" src="{% static 'landing\images\signup_img.svg' %}" alt="signup_img">
            </div>
        <!-- Sign Up Form-->
            <div class="col-5 side-pad">
                <h1 class="center_txt">Sign Up</h1>
                <div>
                    <span><b>Hello there</b></span><br>
                    <span class="small-txt"><b>Create an account to get started</b></span>
                </div>

                <form method="post" action="adduser/">
                    {% csrf_token %}
                    <input type="text" name="fullname" id="fullname" placeholder="Full name"><br/>
                    <input type="email" name="email" id="email" placeholder="Email address"><br/>
                    <input type="password" name="password" id="password" placeholder="Password"><br/>
                    <input type="submit" value="Sign up">
                </form>
                <div class="below_form">
                    <h4 id="or-styl"><span>OR</span><h4>
                    <h4 class="center_txt">Sign up with</h4>

                    <a href=""><button type="button" class="btn btn2"><img src="{% static 'landing\images\google_logo.svg' %}" alt="google_logo"> Google</button></a>
                    <a href=""><button type="button" class="btn btn2"><img src="{% static 'landing\images\github_logo.svg' %}" alt="github_logo"> Github</button></a>

                    <span class="small-txt">Already have an account? <a href="/login">Log in</a></span>

                </div>

            </div>
        </section>
{% endblock %}
