{% extends 'prototype/base_dashboard.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<!-- main file authentication content started -->
<div class="main_authen3">
<p class="your_file_text">Your Files</p>

<div class="main_table">
    <table>
        {% for x in myfiles %}
        <thead id="head-element">
            <tr class="row">
                <th class="top_left_radius">
                    Number
                </th>
                <th class="long-width">
                    File Name
                </th>
                <th colspan="1">
                    Size
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="row">
                <td class="file_detail">
                    {{ x.docfile_id }}
                </td>
                <td class="file_detail long-width">
                    {{ x.docfile }}
                </td>
                <td class="file_detail right_td">
                    {{ x.docfile_size }}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

<div class="btns">
    <button class="save_btn btn">Save</button>
    <button class="download_btn btn">Download</button>
</div>


</div>
<!-- main file authentication content ended -->
{% endblock %}
</div>
