{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing/css/filepage.css' %}">
    <script defer src="./file-page.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="top">
       
        <div class="con">
            <img src="{% static 'landing\img\searchline.png' %}" alt="Search Line">
            <input type="text" placeholder="Search" />
            <!-- <img src="{% static 'images/Vector.svg' %}" /> -->
        </div>
                    
        <div class="user">
            <img src="{% static 'landing\img\Ellipse3.png' %}" id= "user_pic"alt="A user's Pic">
            <div class="user_info">
                <p class="user_text">Mary Jane</p>
                <p class="user_text">Maryjane@gmail.com</p>
            </div>
            
            <div class="dropdown">
                
                    <img src="{% static 'landing\img\user_arrow.png' %}" id= "user_arrow"alt="Arrow Down image">
                
                <div class="dropdown-content">
                    <a href="#"> Edit Profile</a>
                    <a href="#">Help</a>
                    <a href="#">Settings</a>
                  <a href="{% url 'logout' %}" id="last-drop-down-content">Logout</a>
                </div>
              </div> 
        </div>
        </div>
        <div class="side_navbar" id="sidebar">
            <!-- brand section started -->
            <div class="brand">
                <!-- This (The logo)leads back to home page -->
                <img src="{% static 'landing\img\logo1.png' %}" class="brand_img" alt="Splita's Logo">
            </div>
            <!-- ended -->
            <!-- left navbar sec started -->
            <!-- <div class="left_navbar"> -->
                <ul>
                    <li class="left_list">
                        <a class= "left_link"href="{% url 'prototype:dashboard' %}">
                            <img src="{% static 'landing\img\dashboard_icon.png' %}" class="left_navbar_icon for_active" alt="dashboard_icon">
                           <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="left_list"><a class= "left_link" href="{% url 'prototype:myfile' %}">
                        <img src="{% static 'landing\img\Group.png' %}" class="left_navbar_icon" alt="files_icon"><p>My Files</p></a></li>
                    <li class="left_list"><a class= "left_link"href="{% url 'prototype:fileAuthen3' %}">
                        <img src="{% static 'landing\img\Group1.png' %}" class="left_navbar_icon" alt="storage icon"><p>Storage</p></a></li>
                    <li class="left_list"><a class= "left_link"href="#">
                        <img src="{% static 'landing\img\Group2.png' %}" class="left_navbar_icon" alt="Recycle bin icon"><p>Recycle Bin</p></a></li>
                    <li class="left_list"><a class= "left_link"href="#">
                        <img src="{% static 'landing\img\Group3.png' %}" class="left_navbar_icon" alt="Settings icon"><p>Settings</p></a></li>

                            <!-- ended -->
                    <!-- logout sec started -->
                    <li class="left_list log_out"><a class= "left_link"href="#">
                        <img src="{% static 'landing\img\Group6.png' %}" class="left_navbar_icon" alt="Logout icon"><p>Logout</p></a></li>
                </ul>
            </div>
        </div>
        <div class="side_navbar" id="sidebar1" style="visibility: hidden;">
            <!-- brand section started -->
            <div class="brand">
                <!-- This (The logo)leads back to home page -->
                <img src="{% static 'landing\img\logo1.png' %}" class="brand_img" alt="Splita's Logo">
            </div>
            <!-- ended -->
            <!-- left navbar sec started -->
            <!-- <div class="left_navbar"> -->
                <ul>
                    <li class="left_list">
                        <a class= "left_link"href="#">
                            <img src="{% static 'landing\img\dashboard_icon.png' %}" class="left_navbar_icon for_active" alt="dashboard_icon">
                           <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="left_list"><a class= "left_link"href="#">
                        <img src="{% static 'landing\img\Group.png' %}" class="left_navbar_icon" alt="files_icon"><p>My Files</p></a></li>
                    <li class="left_list"><a class= "left_link"href="#">
                        <img src="{% static 'landing\img\Group1.png' %}" class="left_navbar_icon" alt="storage icon"><p>Storage</p></a></li>
                    <li class="left_list"><a class= "left_link"href="#">
                        <img src="{% static 'landing\img\Group2.png' %}" class="left_navbar_icon" alt="Recycle bin icon"><p>Recycle Bin</p></a></li>
                    <li class="left_list"><a class= "left_link"href="#">
                        <img src="{% static 'landing\img\Group3.png' %}" class="left_navbar_icon" alt="Settings icon"><p>Settings</p></a></li>

                            <!-- ended -->
                    <!-- logout sec started -->
                    <li class="left_list log_out"><a class= "left_link"href="{% url 'logout' %}">
                        <img src="{% static 'landing\img\Group6.png' %}" class="left_navbar_icon" alt="Logout icon"><p>Logout</p></a></li>
                </ul>
            </div>
        </div>
        
        <nav id="navbar">
            <img src="./img/navbar.svg" alt="" id="menu">
            <h3>My files</h3>
            <img src="{% static 'landing\img\searchline.png' %}" alt="" style="width: 20px; height:20px; margin-top: 1.8rem;">
        </nav>
        
            <div class="container" id="container">
                <div class="main-content">
                    <div id="filter">
                        <div class="con">
                            <img src="{% static 'landing\img\searchline.png' %}" alt="Search Line">
                            <input type="text" placeholder="filter text" />
                            <div class="dropdown">
                            
                                <img src="{% static 'landing\img\user_arrow.png' %}" id= "user_arrow1"alt="Arrow Down image">
                            
                            <div class="dropdown-content filter-content">
                                <a href="#"> CSV Files</a>
                                <a href="#">JSON files</a>
                                <a href="#">Other Files</a>
                              
                            </div>
                          </div> 
                        </div>
                    </div>
                    <div id="recent-files">
                        <div id="recent-title">
                            <p id="recent-text1">All Files</p>
                            <button id="all-files"><p>All Files</p></button>
                        </div>
                        {% for file in files %}
                        <div class="file-list">
                            <p class="filename">{{file.docfile}}</p>
                            <p class="date">{{file.uploaded_at}}</p>
                            <p class="filesize">{{file.totalchunk}}</p>
                            <button id="all-files"><a href="/prototype/delete?filename={{file.docfile}}"><p>Delete</p></a></button>

                            <!-- <span class="img"><img src="{% static 'landing\img\delete.svg' %}" alt=""></span> -->
                        </div>
                        {% endfor %}
                        
                    </div>
                     
                        
                </div>
                <div class="side-storage">
                    <div class="mobile-storage">
                        <div class="progress" id="progress1">
                            <svg class="progress-circle" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg">
                                <circle class="progress-circle-back"
                                        cx="50" cy="50" r="37"></circle>
                                <circle class="progress-circle-prog"
                                        cx="50" cy="50" r="37"></circle>
                            </svg>
                              <div class="progress-text" data-progress="0">10%</div>
                    
                            </div>	
                              <div class="storage-space">
                                <h3 class="side-heading heading">Storage Space</h3>
                                <p id="size-left">2GB / 20GB</p>
                              </div>
                       </div>
                    <div class="storage">
                        <h3 class="side-heading"> My Storage</h3>
                    <div class="meter">
                        <span  id= "bar" style="width:100%;"><span id="progress"></span></span>
                    </div>
                    <div class="space-left"><p class="left">2GB</p><p class="right">20GB</p></div>
                </div>
                <div class="all-storage">
                    <div class="storage1">
                        <h3 class="side-heading first">CSV Files</h3>
                    <div class="space-left"><p class="left">20 Files</p><p class="right p_blue">1GB</p></div>
                </div>
                <div class="storage1">
                    <h3 class="side-heading">JSON Files</h3>
                <div class="space-left"><p class="left">20 Files</p><p class="right p_blue">1GB</p></div>
            </div>
            <div class="storage1">
                <h3 class="side-heading">Others</h3>
            <div class="space-left"><p class="left">5 Files</p><p class="right p_blue">1GB</p></div>
            </div>
                </div>
        <div class="btn-view"><button id="view">View all</button></div>
                    </div>
            </div>
            <div class="main-content1">
                <div id="filter">
                    <div class="con">
                        <img src="./img/filter-3-line.svg" alt="Search Line">
                        <input type="text" placeholder="filter text" />
                        <div class="dropdown">
                        
                            <img src="./img/user_arrow.png" id= "user_arrow1"alt="Arrow Down image">
                        
                        <div class="dropdown-content filter-content">
                            <a href="#"> CSV Files</a>
                            <a href="#">JSON files</a>
                            <a href="#">Other Files</a>
                          
                        </div>
                      </div> 
                    </div>
                </div>
                <div id="recent-files">
                    <div id="recent-title">
                        <p id="recent-text1">All Files</p>
                        <button id="all-files"><p>All Files</p></button>
                    </div>
                    {% for file in files %}
                    <div class="file-list">
                        <p class="filename">{{file.docfile}}</p>
                        <p class="date">{{file.uploaded_at}}</p>
                        <p class="filesize">{{file.totalchunk}}</p>
                        <button id="all-files"><a href="/prototype/delete?filename={{file.docfile}}"><p>Delete</p></a></button>

                    </div>
                    {% endfor %}
            </div>
           

</body>
</html>