{% extends 'prototype/base_dashboard.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block content %}
    <div class="container" id="container">
        <div class="main-content">
            <div id="filter">
                <div class="con">
                    <img src="{% static 'landing\img\file_3_line.png' %}" alt="Search Line">
                    <input type="text" placeholder="filter text" />
                    <div class="dropdown">
                    
                        <img src="{% static 'landing\img\user_arrow.png' %}" id= "user_arrow1"alt="Arrow Down image">
                    
                    <div class="dropdown-content filter-content">
                        <a href="#"> CSV Files</a>
                        <a href="#">JSON files</a>
                        <a href="#">Other Files</a>
                      
                    </div>
                  </div> 
                </div>
            </div>
            <div id="recent-files">
                <div id="recent-title">
                    <p id="recent-text1">Recent Files</p>
                    <button id="all-files"><p>All Files</p></button>
                </div>
                {% for file in files %}
                <div class="file-list">
                    <p class="filename">{{file.docfile}}</p>
                    <p class="date">{{file.uploaded_at}}</p>
                    <p class="filesize">{{file.file_size}}</p>
                    <span class="img"><img src="{% static 'landing\img\delete.svg' %}" alt=""></span>
                </div>
                {% endfor %}
                
            </div>
                <div class="add-files">
                    <p class="recent-text">Saved Files</p>
                    <div class="file-list">
                        <p class="filename">CSV FILE</p>
                        <p class="date">26th july,2022</p>
                        <p class="filesize">500mb</p>
                        <span class="img"><img src="./img/carbon_overflow-menu-vertical.svg" alt=""></span>
                    </div>
                    <div class="file-list">
                        <p class="filename">JSON FILE</p>
                        <p class="date">26th july,2022</p>
                        <p class="filesize">500mb</p>
                        <span class="img"><img src="./img/carbon_overflow-menu-vertical.svg" alt=""></span>
                    </div>
                </div>
                <div class="add-files download-file">
                    <p class="recent-text">Downloaded Files</p>
                    <p id="download-update">No downloaded file yet</p>
                    <div class="file-list downloads">
                        <p class="filename">CSV FILE</p>
                        <p class="date">26th july,2022</p>
                        <p class="filesize">500mb</p>
                        <span class="img"><img src="./img/carbon_overflow-menu-vertical.svg" alt=""></span>
                    </div>
                    <div class="file-list downloads">
                        <p class="filename ">JSON FILE</p>
                        <p class="date">26th july,2022</p>
                        <p class="filesize">500mb</p>
                        <span class="img"><img src="./img/carbon_overflow-menu-vertical.svg" alt=""></span>
                    </div>
                </div>
        </div>
        <div class="side-storage">
            <div class="mobile-storage">
                <div class="progress" id="progress1">
                    <svg class="progress-circle" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg">
                        <circle class="progress-circle-back"
                                cx="50" cy="50" r="37"></circle>
                        <circle class="progress-circle-prog"
                                cx="50" cy="50" r="37"></circle>
                    </svg>
                      <div class="progress-text" data-progress="0">10%</div>
            
                    </div>	
                      <div class="storage-space">
                        <h3 class="side-heading heading">Storage Space</h3>
                        <p id="size-left">2GB / 20GB</p>
                      </div>
               </div>
            <div class="storage">
                <h3 class="side-heading"> My Storage</h3>
            <div class="meter">
                <span  id= "bar" style="width:100%;"><span id="progress"></span></span>
            </div>
            <div class="space-left"><p class="left">2GB</p><p class="right">20GB</p></div>
        </div>
        <div class="all-storage">
            <div class="storage1">
                <h3 class="side-heading first">CSV Files</h3>
            <div class="space-left"><p class="left">20 Files</p><p class="right p_blue">1GB</p></div>
        </div>
        <div class="storage1">
            <h3 class="side-heading">JSON Files</h3>
        <div class="space-left"><p class="left">20 Files</p><p class="right p_blue">1GB</p></div>
    </div>
    <div class="storage1">
        <h3 class="side-heading">Others</h3>
    <div class="space-left"><p class="left">5 Files</p><p class="right p_blue">1GB</p></div>
    </div>
        </div>
<div class="btn-view"><button id="view">View all</button></div>
            </div>
    </div>
    <div class="main-content1">
        <div id="filter">
            <div class="con">
                <img src="./img/filter-3-line.svg" alt="Search Line">
                <input type="text" placeholder="filter text" />
                <div class="dropdown">
                
                    <img src="./img/user_arrow.png" id= "user_arrow1"alt="Arrow Down image">
                
                <div class="dropdown-content filter-content">
                    <a href="#"> CSV Files</a>
                    <a href="#">JSON files</a>
                    <a href="#">Other Files</a>
                  
                </div>
              </div> 
            </div>
        </div>
        <div id="recent-files">
            <div id="recent-title">
                <p id="recent-text1">Recent Files</p>
                <button id="all-files"><p>All Files</p></button>
            </div>
            <div class="file-list">
                <div class="file-date">
                    <p class="filename">CSV FILE</p>
                <p class="date">26th july,2022</p>
                </div>
                <p class="filesize">500mb</p>
                <span class="img"><img src="./img/delete.svg" alt=""></span>
            </div>
            <div class="file-list">
                <div class="file-date">
                    <p class="filename">JSON FILE</p>
                <p class="date">26th july,2022</p>
                </div>
                <p class="filesize">500mb</p>
                <span class="img"><img src="./img/delete.svg" alt=""></span>
            </div>
        </div>
            <div class="add-files">
                <p class="recent-text">Saved Files</p>
                <div class="file-list">
                    <div class="file-date">
                        <p class="filename">CSV FILE</p>
                    <p class="date">26th july,2022</p>
                    </div>
                    <p class="filesize">500mb</p>
                    <span class="img"><img src="./img/carbon_overflow-menu-vertical.svg" alt=""></span>
                </div>
                <div class="file-list">
                    <div class="file-date">
                        <p class="filename">JSON FILE</p>
                    <p class="date">26th july,2022</p>
                    </div>
                    <p class="filesize">500mb</p>
                    <span class="img"><img src="./img/carbon_overflow-menu-vertical.svg" alt=""></span>
                </div>
            </div>
            <div class="add-files download-file">
                <p class="recent-text">Downloaded Files</p>
                <p id="download-update">No downloaded file yet</p>
                <div class="file-list downloads">
                    <p class="filename">CSV FILE</p>
                    <p class="date">26th july,2022</p>
                    <p class="filesize">500mb</p>
                    <span class="img"><img src="./img/carbon_overflow-menu-vertical.svg" alt=""></span>
                </div>
                <div class="file-list downloads">
                    <p class="filename ">JSON FILE</p>
                    <p class="date">26th july,2022</p>
                    <p class="filesize">500mb</p>
                    <span class="img"><img src="./img/carbon_overflow-menu-vertical.svg" alt=""></span>
                </div>
            </div>
    </div>
   
</body>
{% endblock %}