@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

/* General style */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Manrope;
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

header {
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    padding: 10px 12px;
    row-gap: 2px;
    box-shadow: 2px 2px 2px gray;
    margin-bottom: 4px;
}

.menu_link a:active {
  color: #080FC9;
}

.nav-btn {
    padding: 10px 30px;
    border: 1px;
    border-radius: 5px;
    font-size: 12px;
    margin: 0;
}

.row {
    width: 100%;
}

.row::after, #closebtn::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 20px 10px;
}

[class*="col-"] {
  width: 100%;
}

/* main */

#box-img, .boxed > span, .center-txt {
    text-align: center;
}

input[type=submit], .nav-btn, .last-span {
    background-color: #080FC9;
    color: #FFFFFF;
}

.small-txt {
    font-size: small;
}

.smaller-txt {
    font-size: smaller;
}

#last_word {
    text-align: center;
}

footer {
    width: 100%;
    background-color: #030650;
    padding: 10px 12px;
    color: #FFFFFF;
}

footer a, .last-span a {
    color: #FFFFFF;
}

.last-span {
    font-size: x-small;
    width: 100%;
}

.last-span a {
    padding: 0 3px;
}

.menu_link2 a {
    display: block;
    padding: 8px 0;
    font-size: smaller;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    border: 1px solid #555;
    border-radius: 5px;
    display: block;
    padding: 9px 4px 9px 40px;
    background: #FFFFFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 12px center;
}

@media only screen and (max-width: 760px) {

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#menu {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    /*overflow: auto;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

a #menu_icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

#close {
    float: right;
    display: block;
}

.menu_link a {
    display: block;
    padding: 10px 8px;
    color: #808080;
}

}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-td-1 {width: 8.33%;}
  .col-td-2 {width: 16.66%;}
  .col-td-3 {width: 25%;}
  .col-td-4 {width: 33.33%;}
  .col-td-5 {width: 41.66%;}
  .col-td-6 {width: 50%;}
  .col-td-7 {width: 58.33%;}
  .col-td-8 {width: 66.66%;}
  .col-td-9 {width: 75%;}
  .col-td-10 {width: 83.33%;}
  .col-td-11 {width: 91.66%;}
  .col-td-12 {width: 100%;}

  #menu {
    display: block;
  }

  #menu_icon, #closebtn {
    display: none;
}

.td-menu_link a {
    display: inline-block;
    padding: 0 8px;
    color: #808080;
}

.td-menu_link {
    text-align: center;
    padding: 10px 0;
}

#main-menu {
    padding-top: 14px;
}



}

.btn2 {
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
}

.btn2 span {
    padding-left: 4px;
}

/* Style for main */

input[type=text], input[type=email], input[type=password], input[type=submit], .btn {
    width: 100%;
    margin: 7px 0;
    padding: 14px 12px;
    border: 1px solid #000;
    border-radius: 5px;
}