* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-family: Manrope;
}

body {
    width: 100%;
    margin: 0;
    background-color: #e5e5e5;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 12px;
    border: 1px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Style for header */

header {
    width: 100%;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 0;
}

.top-nav {
    font-weight: 500;
}

#nav-1 {
    width: 20%;
}

#nav-2 {
    width: 55%;
    text-align: center;
    color: #070FC9;
    font-size: 20px;
}

#nav-3 {
    width: 25%;
}

#nav-3 button {
    margin-right: 14px;
}

.top-nav a {
    padding: 0 20px;
}

.nav-btn {
    padding: 8px 25px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
}


main {
    width: 100%;
    padding: 70px 0;
    margin: 0;
}

.signup-main, .dashboard {
    display: flex;
    background-color: #FFFFFF;
}

.pic-sect {
    width: 55%;
}

.side-nav {
    width: 20%;
}

#signup_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
}

.center_txt {
    text-align: center;
}

input, .btn {
    width: 100%;
    margin: 7px 0;
    padding: 10px 12px;
    border: 1px solid #000;
    border-radius: 5px;
}

input[type=submit], #signup-btn {
    background-color: #080FC9;
    color: #FFFFFF;
}

#or-styl {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

#or-styl span {
    background:#fff;
    padding:0 10px;
}

.below_form {
    margin-top: 25px;
}

.last-txt {
    font-size: small;
}

footer, .footer-1 {
    background-color: #030650;
    color: #FFFFFF;
}

.footer-1, .top-nav, .footer-2 {
    width: 100%;
    padding: 24px 70px;
}

.footer-1 td {
    width: 25%;
    font-size: small;
    padding: 10px 0;
}

.footer-1 a {
    color: #FFFFFF;
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: #FFFFFF url("images\search_icon.svg") no-repeat 13px center;
}

.footer-2 {
    background-color: #060CA1;
    color: #FFFFFF;
}

.footer-2 td {
    width: 33.33%;
}

.fin-sect, #footer-1 img {
    padding: 0 8px;
    font-size: small;
}

#finsect-last {
    padding-left: 120px;
}