/* General style */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Manrope;
}

body {
    width: 100%;
    margin: 0;
}

header {
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    padding: 10px 12px;
}

.menu_link a:active {
  color: #080FC9;
}

.nav-btn {
    padding: 8px 30px;
    border: 1px;
    border-radius: 5px;
    font-size: 12px;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 20px 10px;
    border: 1px solid red;
}

[class*="col-"] {
  width: 100%;
}

/* main */
main {
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px 12px;
}

h2, h5, h3, #box-img, .boxed > span {
    text-align: center;
}

input[type=submit], .nav-btn, .last-span {
    background-color: #080FC9;
    color: #FFFFFF;
}

#collab_logo {
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

#collab_logo > img {
    padding: 0 10px;
}

.small-txt {
    font-size: small;
}

.smaller-txt {
    font-size: smaller;
}

.boxed {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 10px 30px;
    font-size: small;
    padding: 5px 12px;
}

footer {
    width: 100%;
    background-color: #030650;
    padding: 10px 12px;
    color: #FFFFFF;
}

footer a, .last-span a {
    color: #FFFFFF;
}

.last-span {
    font-size: x-small;
    width: 100%;
}

.last-span a {
    padding: 0 3px;
}

.menu_link2 a {
    display: block;
    padding: 8px 0;
    font-size: smaller;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    border: 1px solid #555;
    border-radius: 5px;
    display: block;
    padding: 9px 4px 9px 40px;
    background: #FFFFFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 12px center;
}

@media only screen and (max-width: 768px) {

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#menu {
    display: none;
}

a #menu_icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.menu_link a {
    display: block;
    padding: 10px 8px;
    color: #808080;
}

}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-td-1 {width: 8.33%;}
  .col-td-2 {width: 16.66%;}
  .col-td-3 {width: 25%;}
  .col-td-4 {width: 33.33%;}
  .col-td-5 {width: 41.66%;}
  .col-td-6 {width: 50%;}
  .col-td-7 {width: 58.33%;}
  .col-td-8 {width: 66.66%;}
  .col-td-9 {width: 75%;}
  .col-td-10 {width: 83.33%;}
  .col-td-11 {width: 91.66%;}
  .col-td-12 {width: 100%;}

  #menu {
    display: block;
  }

  #menu_icon {
    display: none;
}

.td-menu_link a {
    display: inline-block;
    padding: 0 8px;
    color: #808080;
}

.td-menu_link {
    text-align: center;
    padding: 10px 0;
}

#main-menu {
    padding-top: 14px;
}

}

/*






.rw_1 {
    padding-top: 110px;
}

.side-pad {
    padding: 0 100px;
}

.side-pad1 {
    padding: 10px 50px;
}

.fin-sect {
    padding-right: 30px;
}


*/
/* Style for header */
/*


#blue-txt {
    color: #080FC9;
    font-size: 16px;
}

.top-nav {
    color: #808080;
    font-size: 16px;
    padding: 0 20px;
    font-weight: 500;
}

.top-nav-box {
    padding: 24px 0;
}

.btn2 {
    margin: 0 auto;
}
*/
/* Style for main */
/*


#signup_pg_main {
    padding: 120px 0;
}

#signup_img {
    padding-top: 100px;
}

#login_img {
    padding-top: 130px;
}



#r-txt {
    text-align: right;
}

.no-pad {
    padding: 0;
}

input[type=text], input[type=email], input[type=password], input[type=submit], .btn {
    width: 100%;
    margin: 7px 0;
    padding: 14px 12px;
    border: 1px solid #000;
    border-radius: 5px;
}

#or-styl {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

#or-styl span {
    background:#fff;
    padding:0 10px;
}

.below_form {
    margin-top: 25px;
}
*/





